<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	
	<div>
		<h1>To do list</h1>
		{% for list in lists %}
		<p>- {{list.id}} </p>
		<p>- {{list.name}} </p>
		<p>- {{list.description}} </p>
		{% if list.is_true == True %}
		<p>Done :)))</p>>
		{% else %}
		<p>NOPE.....</p>
		{% endif %}
		<br>
		{% endfor %}
	</div>
	<br>

	<form action="count" method="POST">
		{% csrf_token %}
		<textarea name="text" cols="20" rows="10"></textarea> <br>
		<input type="submit" value="submit">
	</form>
</body>
</html>